.check {
  position: relative;
  align-self: flex-start;

  input {
    position: absolute;
    margin-left: 10px;
    appearance: none;

    &:disabled ~ .check__label {
      &::after, &::before {
        opacity: 0.3;
      }
    }

    &:checked ~ .check__label::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 5px;
      display: block;
      width: 16px;
      height: 10px;
      border-width: 0 0 2px 2px;
      border-color: $black;
      border-style: solid;
      transform: rotate(-45deg);
    }
  }

  &:hover {
    input:not(:disabled) ~ .check__label::before {
      background-color: $gray;
    }
  }
}

.check__label {
  padding-left: 39px;
  height: 44px;
  color: $gray--darkest;
  font-family: "Glober Semi Bold", "Arial", sans-serif;
  font-size: 10px;
  letter-spacing: 0.1px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: $white;
    border: 1px solid $white-grayish;
    cursor: pointer;
  }
}


