.choice {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    padding: 0 15px;
    font-family: "Glober Semi Bold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    border-radius: 13px;
    background-color: $yellow;
  }
}

.choice__sign {
  margin-right: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 900;
  letter-spacing: 0.18px;
}

.choice__name,
.choice__phone {
  position: relative;

  input {
    padding: 0 16px;
    width: 309px;
    height: 56px;
    border-radius: 2px;
    border: 1px solid $white-grayish;
    background-color: $white;
    font-family: "Globerx bold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0.4px;

    &::placeholder {
      font-family: "Glober Semi Bold", "Arial", sans-serif;
      color: $gray--darken;
      font-size: 16px;
      font-weight: 400;
      line-height: 31px;
    }
  }
}

.choice__name {
  margin-bottom: 21px;
}

.choice__phone {
  margin-bottom: 0;
}

.choice__label {
  display: none;
  position: absolute;
  top: 1px;
  left: 17px;
  color: $gray--darken;
  font-family: "Glober Semi Bold", "Arial", sans-serif;
  font-size: 11px;
  line-height: 31px;
}

.js-choice-label {
  display: block;
}

.js-choice-input {
  input {
    padding-top: 17px;
    border-color: $blue;
  }
}

