.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__phone {
  margin-bottom: 16px;
  font-family: "Globerx bold", "Arial", sans-serif;
  font-size: 20px;
  color: $black;
}

.contact__phone-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  button.contact__buy {
    display: none;
  }

  .contact__phone {
    margin-top: 9px;
  }

  .contact__phone-mobile {
    display: inline-block;
    position: relative;
    padding: 8px 19px 7px 34px;
    border-radius: 14px;
    background-color: $blue;
    color: $white;
    font-family: "Glober Bold", "Arial", sans-serif;;
    font-size: 12px;

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 7px;
      width: 20px;
      height: 20px;
      background-image: url("../img/smartphone.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/smartphone@2x.png");
      }
    }

    &:hover,
    &:focus {
      background-color: lighten($blue, 5%);
    }

    &:active {
      background-color: darken($blue, 5%);
    }
  }

  .contact__phone-desktop {
    display: none;
  }
}
