.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin: 0;
    padding: 9px 28px;
    position: absolute;
    top: 18px;
    right: -185px;
    display: inline-block;
    background-color: $yellow;
    font-family: "Globerx bold", "Arial", sans-serif;
    font-size: 24px;
    line-height: 32px;
    border-radius: 23px;
  }
}

@media (max-width: $desktop-small-width) {
  .description {
    h2 {
      right: -150px;
    }
  }
}

@media (max-width: $tablet-width) {
  .description {
    margin-top: 65px;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      position: static;
      display: inline-block;
      padding: 1px 15px;
      font-size: 12px;
      line-height: 18px;
      border-radius: 10px;
    }
  }
}
