.logo__link {
  display: block;
  cursor: pointer;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 20px;
    color: #a1a1a1;
  }

  &::before {
    content: "Телеканал";
    top: -9px;
    left: 102px;
  }

  &::after {
    content: "представляет";
    bottom: -6px;
    right: 0;
  }
}
