.main {
  width: 100%;
  background: url("../img/bg-stars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-stars@2x.png");
  }

}

.main__wrap {
  margin: 0 auto;
  max-width: $desktop-wrap-width;
  padding: 0 10px;
  width: 100%;
  height: 712px;
  display: flex;
  justify-content: space-between;
}

.main__wrap-mobile {
  display: flex;
  justify-content: space-between;
}

.main__price {
  margin-top: 118px;
  margin-left: auto;
  margin-right: auto;
}

.main__order {
  margin-top: 65px;
}

@media (max-width: $desktop-small-width) {
  .main__price {
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .main__price {
    margin: 73px 0 0 -53px;
  }

  .main__wrap-mobile {
    justify-content: center;
  }

  .main__wrap {
    max-width: $mobile-width;
    padding: 0;
    flex-direction: column;
  }

  .main__order {
    margin-top: 0;
  }
}
