.order {
  position: relative;
  form {
    padding: 44px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 359px;
    height: 535px;
    border-radius: 10px;
    background-color: $white;

    h3 {
      margin: 0 0 29px 0;
      font-family: "Glober Heavy", "Arial", sans-serif;
      font-size: 30px;
      line-height: 31px;
    }
  }
}

.order--error{
  form {
    border: 2px solid $red-error;
  }
}

.order__choice {
  margin-bottom: 10px;
}

.order__sign {
  margin-bottom: 27px;
  display: flex;
  align-self: flex-start;
  align-items: center;

  p {
    margin: 0;
    padding: 0 15px;
    font-family: "Glober Semi Bold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    border-radius: 13px;
    background-color: $yellow;
  }
}

.order__sign-choice {
  margin-right: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 900;
  letter-spacing: 0.18px;
}

.order__location {
  margin-bottom: 27px;
  padding-left: 15px;
  position: relative;
  align-self: flex-start;
  font-family: "Glober Semi Bold", "Arial", sans-serif;
  font-size: 12px;
  color: $gray--darkest;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 13px;
    background-image: url("../img/maps-and-flags.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/maps-and-flags@2x.png");
    }
  }
}

.order__check {
  margin-bottom: 28px;
}

.order__error {
  display: none;
  position: absolute;
  bottom: 19px;
  font-family: "Glober Semi Bold", "Arial", sans-serif;
  font-size: 12px;
  color: $red-error;
}

.order__success {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $white;
  box-shadow: 7px 10px 8px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  border: 1px solid $white-border;
}

@media (max-width: $tablet-width) {
  .order {
    form {
      padding: 15px 21px 34px;
      width: 320px;
      height: 491px;

      h3 {
        margin-bottom: auto;
        font-size: 27px;
      }
    }
  }

  .order__sign {
    display: none;
  }

  .order__check {
    margin-bottom: 17px;
  }

  .order__location {
    margin-bottom: 16px;
  }

  .order__choice {
    margin-bottom: 7px;
  }

  .order__error {
    bottom: 12px;
    font-family: "Glober Bold", "Arial", sans-serif;
  }
}

