.pendant {
  margin: 0;
  padding-left: 156px;
  padding-top: 31px;
  display: flex;
  flex-direction: column;
  width: 400px;

  & img {
    flex-shrink: 0;
  }

  & img:first-of-type {
    position: absolute;
    top: 17px;
    left: 43px;
    z-index: 0;
  }

  & img:last-of-type {
    z-index: 1;
  }
}

.pendant__about {
  margin: 15px 0 0 -19px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 0 auto 7px;
    font-family: "Globerx bold", "Arial", sans-serif;
    font-size: 20px;
  }

  p {
    margin: 0;
    font-family: "Glober Semi Bold", "Arial", sans-serif;
    font-size: 16px;
  }
}

.pendant__about-mobile {
  display: none;
}

@media (max-width: $tablet-width) {
  .pendant {
    width: 100%;
    padding-left: 87px;
    padding-top: 7px;

    & img:first-of-type {
      top: 33px;
      left: 36px;
      width: 76px;
      height: 99px;
    }

    & img:last-of-type {
      width: 124px;
      height: 213px;
    }
  }

  .pendant__about {
    margin-left: -28px;

    h3 {
      font-size: 13px;
    }

    p {
      font-size: 12px;
    }
  }

  .pendant__about-mobile {
    display: inline;
  }

  .pendant__about-desktop {
    display: none;
  }
}


