.price {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 118px;
}

.price__discount {
  margin-bottom: 18px;
  position: relative;
  flex-shrink: 0;
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background-color: $red;

  &::before,
  &::after {
    position: absolute;
    font-family: "Globerx bold", "Arial", sans-serif;
    color: $white;
  }

  &::before {
    content: 'Скидка';
    top: 30px;
    left: 17px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
  }

  &::after {
    content: '-50% ';
    bottom: 25px;
    left: 19px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
}

.price__current {
  margin-bottom: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    position: relative;
    font-family: "Globerx bold", "Arial", sans-serif;
    font-size: 54px;
    letter-spacing: 0.16px;

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      right: -23px;
      width: 21px;
      height: 34px;
      background-image: url("../img/ruble.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/ruble@2x.png");
      }
    }
  }
}

.price__current-price {
  font-family: "Glober Semi Bold", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.07px;
}

.price__old {
  padding-left: 18px;
  flex-shrink: 0;

  p {
    margin: 0;
    position: relative;
    font-family: "Globerx bold", "Arial", sans-serif;
    font-size: 30px;
    color: $gray--dark;
    letter-spacing: 0.11px;
    text-decoration: line-through;


    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: 15px;
      width: 13px;
      height: 21px;
      background-image: url("../img/ruble-small.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/ruble-small@2x.png");
      }
    }
  }
}

.price__old-price {
  font-family: "Glober Semi Bold", "Arial", sans-serif;
  font-size: 18px;
  color: $gray--dark;
  letter-spacing: 0.07px;
}
