.select {
  margin: 0 0 0 -28px;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  list-style: none;
}

@media (max-width: $tablet-width) {
  .select {
    margin-left: -12px;
  }
}

