.zodiac {
  padding: 14px 45px 23px 41px;
  width: 537px;
  height: 210px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px 10px 0 0 ;

  h3 {
    margin: 0 0 13px 0;
    font-family: "Globerx bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 32px;
  }
}

@media (max-width: $tablet-width) {
  .zodiac {
    position: absolute;
    bottom: -169px;
    left: 0;
    width: 310px;
    padding-left: 21px;
    padding-right: 0;
    height: 125px;

    h3 {
      display: none;
    }
  }
}
