$black: #000000;
$white: #ffffff;
$white-blueish: #dcecff;
$white-grayish: #e9e9e9;
$yellow: #fcd000;
$blue: #0093a7;
$gray: #f2f2f4;
$gray--dark: #4b4b4b;
$gray--darken: #959595;
$gray--darkest: #7c7c7c;
$red: #ff2131;
