@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: "Globerx Bold";
  src: url("../fonts/GloberxBold.woff2") format("woff2"), url("../fonts/GloberxBold.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Glober Semi Bold";
  src: url("../fonts/GloberSemiBold.woff2") format("woff2"), url("../fonts/GloberSemiBold.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Glober Heavy";
  src: url("../fonts/GloberHeavy.woff2") format("woff2"), url("../fonts/GloberHeavy.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Glober Bold";
  src: url("../fonts/GloberBold.woff2") format("woff2"), url("../fonts/GloberBold.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}
