$desktop-width: 1920px;
$desktop-wrap-width: 1124px;
$desktop-small-width: 1100px;
$desktop-width-freeze: 1070px;

$tablet-width: 768px;

$mobile-width: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
